.box {
    border-style: ridge;
    border-width: thick;
    border-color: hotpink;
}
.box2 {
  border-style: outset solid double solid  ;
  border-width: thick;
  border-color: rgb(72, 255, 0);
  padding-left: 30px
}
.box3 {
  border-style: double  ;
  border-width: thin;
  border-color: rgb(0, 153, 255);
  padding-left: 5px;
}
.christmas{
border-style: outset;
border-color: red;
padding-bottom: 5px;


}
.candycane {
  border-image:url(candycane_border.png)

}





body {
    background-color: lightblue;
    color: red;
    
}
h1 {
    color: green;
    display: inline;
}
p {
    color: firebrick
}



a:link {
    color: lightcoral;
    text-decoration:none ;
  }
  

  a:visited {
    color: lightblue;
  }
  

  a:hover {
    color: lightcoral;
  }
  

  a:active {
    color: yellow;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border-right:2px solid lightcoral;
  }
  
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:goldenrod;
  }
  
  .active {
    background-color: #04AA6D;
  }